<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% if (locals.scripts) { %> <% for( let i = 0; i < scripts.length; i++ ) { %>
  <script type="module" src="/<%= scripts[i] %>" defer></script>
  <% } %> <% } %> <% if (locals.styles) { %> <% for( let i = 0; i <
  styles.length; i++ ) { %>
  <link rel="stylesheet" href="/<%= styles[i] %>" />
  <% } %> <% } %>

  <title>File Uploader</title>
</head>
