<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head',{styles})%>
  <body>
    <li><a href="/">Home page</a></li>
    <section>
    <p>Remeber that only jpg, png and pdf files are allowed.</p>
    <p>A File must be less than 5MB.</p>
    <p>No more than 5 files can be uploaded at onces.</p>
      <h2>Add File</h2>
      <form action="/addFile" enctype="multipart/form-data" method="post">
        <label for="folder">Select Folder:</label>
        <select name="folder" id="folder">
          <% for( let i = 0; i < folders.length; i++ ) { %>
          <option value="<%= folders[i].id %>" 
            <% if (locals.folder == folders[i].id ) { %> selected <% } %>
            ><%= folders[i].title %></option>
          <% } %>
        </select>
        <input type="file" name="uploads" multiple/>
        <button type="submit">Add file(s)</button>
      </form>
      <% if (locals.errors) {%> <%- include('partials/errors',{errors}) %> <% } %>
    </section>
  </body>
</html>
