html {
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  margin: auto;
  font-size: 10px;
  background-color: #3882f6;
}
p {
  font-size: 2rem;
}
h1,
h2 {
  font-size: 2rem;
}

label,
option {
  font-size: 1.5rem;
}
aside {
  width: 30rem;
}
.delMsg,
.default {
  color: yellow;
  background-color: red;
  font-size: 1.5rem;
}

nav {
  font-size: 1.5rem;
  color: greenyellow;
}
a,
li {
  text-decoration: none;
  color: greenyellow;
  font-size: 2rem;
}

main {
  margin-top: 2rem;
}
